#homepage {
	width: 100%;
	height: 100%;
}

#content {
	width: 100%;
	height: 100%;
}


/* Portrait */
@media all and (orientation:portrait) {

	#homepage {
		border: 5px solid #006600;
	}

	/* Narrow (iPhone) */
	@media all and (max-device-width: 480px) {
		#homepage {
		}

		#content {
			background: #003300;
		}
	}

	/* Wide (iPad) */
	@media all and ( device-width: 768px ) {
		#homepage {

		}
		#content {
			background:#009900;
			width: 720px;
		}
	}

}

/* Landscape */

@media all and (orientation:landscape) {

	#homepage {
		border: 5px solid #660000;
	}

	/* Narrow (iPhone) */
	@media all and (max-device-width: 480px) {
		#homepage {

		}

		#content {
			background: #330000;
			width: 480px;
		}
	}

	/* Wide (iPad) */
	@media all and ( device-width: 768px ) {

		#homepage {

		}

		#content {
			background:#000099;
			width: 720px;
		}
	}


}

