#homepage {
width: 100%;
height: 100%;
}

/* Portrait */
@media all and (max-width: 320px) {
	#homepage {
		background: #006600;
	}
}

@media all and (orientation:portrait) {
	#homepage {
		border: 5px solid #006600;
	}
}

/* Landscape */

@media all and (min-width: 321px) {
	#homepage {
		background: #660000;
	}
}

@media all and (orientation:landscape) {
	#homepage {
		border: 5px solid #660000;
	}
}

#content {
	width: 960px;
	background:#009900;
}

@media all and ( max-device-width: 1024px ) and ( orientation:portrait ) {
   #content {
	width: 720px;
	background:#000066;
   }
}
